<library path="src">
    <class name="EUFSLauncher" type="eufs_launcher.LauncherModule.EUFSLauncher" base_class_type="rqt_gui_py::Plugin">
        <description>
            A Python GUI plugin for launching the EUFS simulation
        </description>
        <qtgui>
            <group>
                <label>EUFS</label>
                <icon type="theme">folder</icon>
                <statustip>Plugins related to EUFS</statustip>
            </group>
            <label>EUFS Launcher</label>
            <icon type="theme">application-other</icon>
            <statustip>A Python GUI plugin for launching the EUFS simulation</statustip>
        </qtgui>
    </class>
</library>
