<?xml version="1.0"?>
<launch>
  
  <!-- roslaunch arguments -->
  <arg name="namespace" default="eufs"/>
  <arg name="launch_evaluator" default="false"/>

  
  <!-- Launch simulated ground truths -->
  <include file="$(find eufs_gazebo)/launch/sbg_raw_data_simulator.launch"/>
  <include file="$(find wheel_odometry)/launch/wheel_odometry.launch"/>
  <!-- Launch evaluator-->
  <group if="$(eval arg('launch_evaluator') == 'true' )">
      <include file="$(find eufs_gazebo)/launch/ekf_launcher.launch"/>
  </group>
  

</launch>
