<?xml version="1.0"?>
<launch>

  <arg name="_imu_hz" default="200"/>
  <arg name="_gps_hz" default="5" />
  <node name="sbg_raw_data_simulator" 
          pkg="eufs_gazebo" exec="sbg_raw_data_simulator.py" output="screen">
      <param name="_imu_hz" value="$(var _imu_hz)"/>
      <param name="_gps_hz" value="$(var _gps_hz)"/>
  </node>

</launch>

