<library path="src">
  <class name="ros_can_sim_gui" type="ros_can_sim.RosCanSimGUI.RosCanGUI" base_class_type="rqt_gui_py::Plugin">
    <description>
      A GUI to control the state machine of ros_can_sim
    </description>
    <qtgui>
      <group>
        <label>EUFS</label>
        <icon type="theme">folder</icon>
      </group>
      <label>ros_can_sim GUI</label>
      <icon type="theme">utilities-terminal</icon>
      <statustip>Controls the state machine of ros_can_sim</statustip>
    </qtgui>
  </class>
  <class name="eufs_robot_steering_gui" type="ros_can_sim.EUFSRobotSteeringGUI.EUFSRobotSteeringGUI" base_class_type="rqt_gui_py::Plugin">
    <description>
      A GUI to control steer the car using AckermannDriveStamped messages
    </description>
    <qtgui>
      <group>
        <label>EUFS</label>
        <icon type="theme">folder</icon>
      </group>
      <label>EUFS Robot Steering GUI</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>Controls the car using AckermannDriveStamped messages</statustip>
    </qtgui>
  </class>
</library>