<?xml version="1.0"?>
<robot name="eufs" xmlns:xacro="http://www.ros.org/wiki/xacro"> 


    <!-- ***************** -->
    <!-- Imported elements -->
    <!-- ***************** -->
    
    <!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

    <!-- Import Robotnik CAR base elements -->
    <xacro:include filename="$(find eufs_description)/urdf/eufs_base.urdf.xacro" />

    <!-- Import all available sensors -->
    <xacro:include filename="$(find eufs_description)/sensors/all_sensors.urdf.xacro" />

    <!-- ***************** -->
    <!-- Global parameters -->
    <!-- ***************** -->

    <xacro:property name="PI" value="3.1415926535897931"/>

    <!-- *************** -->
    <!-- Robots Elements -->
    <!-- *************** -->

    <!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

    <!-- Chassis of the car -->
    <xacro:eufs_base name="eufs" publish_bf="true" hq="false" clearance="0"/>


    <!-- MAIN SENSORS -->
    <!-- all sensor frames below are relative to base_footprint -->

    <xacro:sensor_imu parent="base_link" prefix="imu">
        <origin xyz="0.20 0.0 0.46" rpy="0 0 0"/>
    </xacro:sensor_imu>


    <xacro:sensor_gps  parent="base_link" prefix="gps">
        <origin xyz="0.0 0.0 1.095" rpy="0 0 0"/>
    </xacro:sensor_gps>


    <xacro:VLP-16R  parent="base_link" name="velodyne" topic="/velodyne_points" hz="10" samples="1200">
        <origin xyz="0.54 0.0 0.13" rpy="0 -${1.7*M_PI/180.0} 0"/>
    </xacro:VLP-16R>


    <xacro:zed_camera parent="base_link" prefix="zed">
        <origin xyz="0.175 -0.01 0.785" rpy="0 0 0"/> 
    </xacro:zed_camera>  

    <!-- We don't have URDFs for the wheels but we're putting the frames here anyway -->
    <!-- -0.29 +/-0.275 0.155 -->

</robot>
