<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="publish_tf" default="false"/>
  <xacro:arg name="simulate_perception" default="false"/>

  <!-- Custom plugin which controls the car using a given vehicle model.
   It controls the car by setting its velocity and position
   and the steering angle of the wheels -->
  <gazebo>
    <plugin name="race_car" filename="libgazebo_race_car_model.so">
      <update_rate>1000.0</update_rate>
      <publish_rate>200.0</publish_rate>
      <vehicle_model>$(arg vehicle_model)</vehicle_model>
      <front_left_wheel_steering>left_steering_hinge_joint</front_left_wheel_steering>
      <front_right_wheel_steering>right_steering_hinge_joint</front_right_wheel_steering>
      <front_left_wheel>front_left_wheel_joint</front_left_wheel>
      <front_right_wheel>front_right_wheel_joint</front_right_wheel>
      <rear_left_wheel>rear_left_wheel_joint</rear_left_wheel>
      <rear_right_wheel>rear_right_wheel_joint</rear_right_wheel>
      <yaml_config>$(arg config_file)</yaml_config>
      <referenceFrame>map</referenceFrame>
      <robotFrame>base_footprint</robotFrame>
      <publishTransform>$(arg publish_tf)</publishTransform>
      <stateTopicName>/ground_truth/state</stateTopicName>
      <wheelSpeedsTopicName>/ros_can/wheel_speeds</wheelSpeedsTopicName>
      <odometryTopicName>/ground_truth/odom</odometryTopicName>
      <positionNoise>0.0 0.0 0.0</positionNoise>
      <orientationNoise>0.0 0.0 0.0</orientationNoise> <!-- Yaw Pitch Roll -->
      <linearVelocityNoise>0.0 0.0 0.0</linearVelocityNoise>
      <angularVelocityNoise>0.0 0.0 0.0</angularVelocityNoise>  <!-- X Y Z -->
      <linearAccelerationNoise>0.0 0.0 0.0</linearAccelerationNoise>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="cone_ground_truth" filename="libgazebo_cone_ground_truth.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>25.0</updateRate>
      <cameraViewDistance>15</cameraViewDistance>
      <lidarViewDistance>100</lidarViewDistance>
      <lidarXViewDistance>20</lidarXViewDistance>
      <lidarYViewDistance>10</lidarYViewDistance>
      <cameraMinDistance>1</cameraMinDistance>
      <lidarMinDistance>1</lidarMinDistance>
      <cameraFOV>1.918889</cameraFOV><!--110 degrees-->
      <lidarFOV>6.283185</lidarFOV><!-- 360 degrees-->
      <lidarOn>true</lidarOn><!--If false, we only simulate camera measurements-->
      <coneFrame>base_footprint</coneFrame>
      <groundTruthConesTopicName>/ground_truth/cones</groundTruthConesTopicName>
      <groundTruthConeMarkersTopicName>/ground_truth/cones/viz</groundTruthConeMarkersTopicName>
      <groundTruthTrackTopicName>/ground_truth/track</groundTruthTrackTopicName>
      <simulatePerception>$(arg simulate_perception)</simulatePerception>
      <perceptionConesTopicName>/fusion/cones</perceptionConesTopicName>
      <perceptionConeMarkersTopicName>/fusion/cones/viz</perceptionConeMarkersTopicName>
      <perceptionCameraDepthNoiseParameterA>0.0184</perceptionCameraDepthNoiseParameterA>
      <perceptionCameraDepthNoiseParameterB>0.2106</perceptionCameraDepthNoiseParameterB>
      <perceptionLidarNoise>0.03 0.03 0.0</perceptionLidarNoise>
    </plugin>
  </gazebo>

</robot>
