<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="publish_tf" default="false"/>
  <xacro:arg name="simulate_perception" default="false"/>
  <xacro:arg name="command_mode" default="acceleration"/>

  <!-- Custom plugin which controls the car using a given vehicle model.
   It controls the car by setting its velocity and position
   and the steering angle of the wheels -->
  <gazebo>
    <plugin name="race_car" filename="libgazebo_race_car_model.so">
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="cone_ground_truth" filename="libgazebo_cone_ground_truth.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>25.0</updateRate>
      <cameraViewDistance>15</cameraViewDistance>
      <lidarViewDistance>100</lidarViewDistance>
      <lidarXViewDistance>20</lidarXViewDistance>
      <lidarYViewDistance>10</lidarYViewDistance>
      <lidarMinViewDistance>1</lidarMinViewDistance>
      <cameraMinViewDistance>1</cameraMinViewDistance>
      <cameraFOV>1.918889</cameraFOV><!--110 degrees-->
      <lidarFOV>6.283185</lidarFOV><!-- 360 degrees-->
      <lidarOn>true</lidarOn><!--If false, we only simulate camera measurements-->
      <trackFrame>map</trackFrame>
      <groundTruthConesTopicName>/ground_truth/cones</groundTruthConesTopicName>
      <groundTruthConeMarkersTopicName>/ground_truth/cones/viz</groundTruthConeMarkersTopicName>
      <groundTruthTrackTopicName>/ground_truth/track</groundTruthTrackTopicName>
      <simulatePerception>$(arg simulate_perception)</simulatePerception>
      <perceptionConesTopicName>/fusion/cones</perceptionConesTopicName>
      <perceptionConeMarkersTopicName>/fusion/cones/viz</perceptionConeMarkersTopicName>
      <perceptionCameraDepthNoiseParameterA>0.0184</perceptionCameraDepthNoiseParameterA>
      <perceptionCameraDepthNoiseParameterB>0.2106</perceptionCameraDepthNoiseParameterB>
      <perceptionLidarNoise>0.03 0.03 0.0</perceptionLidarNoise>
    </plugin>
  </gazebo>

</robot>
