<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="publish_tf" default="false"/>
  <xacro:arg name="simulate_perception" default="false"/>

  <!-- ROS control plugin which controls all actuators in the simulation
  This effectively looks in the namespace of the robot, finds the controller
  interfaces based on a .yaml file (eufs_gazebo/config/eufs_control.yaml) -->
  <xacro:macro name="ros_control">
    <gazebo>
      <plugin name="ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/eufs</robotNamespace>
        <robotParam>robot_description</robotParam>
        <controlPeriod>0.001</controlPeriod>
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        <legacyModeNS>true</legacyModeNS>
      </plugin>
    </gazebo>
  </xacro:macro>

  <!-- Custom ROS plugin to simulate ground truth state in simulation.
  This node publishes nav_msgs/Odometry and eufs_msgs/CarState messages
  with added noise via parameters below. This node can additionally publish
  a transfrom from referenceFrame to robotFrame -->
  <gazebo>
    <plugin name="state_ground_truth" filename="libgazebo_state_ground_truth.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>15.0</updateRate>
      <referenceFrame>map</referenceFrame>
      <robotFrame>base_footprint</robotFrame>
      <publishTransform>$(arg publish_tf)</publishTransform>
      <odometryTopicName>/ground_truth/odom</odometryTopicName>
      <stateTopicName>/ground_truth/state</stateTopicName>
      <positionNoise>0.0 0.0 0.0</positionNoise>
      <orientationNoise>0.0 0.0 0.0</orientationNoise>
      <linearVelocityNoise>0.0 0.0 0.0</linearVelocityNoise>
      <angularVelocityNoise>0.0 0.0 0.0</angularVelocityNoise>
      <linearAccelerationNoise>0.0 0.0 0.0</linearAccelerationNoise>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="cone_ground_truth" filename="libgazebo_cone_ground_truth.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>25.0</updateRate>
      <viewDistance>15</viewDistance>
      <fov>1.91986</fov>
      <coneFrame>base_footprint</coneFrame>
      <groundTruthConesTopicName>/ground_truth/cones</groundTruthConesTopicName>
      <groundTruthConeMarkersTopicName>/ground_truth/cones/viz</groundTruthConeMarkersTopicName>
      <simulatePerception>$(arg simulate_perception)</simulatePerception>
      <perceptionConesTopicName>/fusion/cones</perceptionConesTopicName>
      <perceptionConeMarkersTopicName>/fusion/cones/viz</perceptionConeMarkersTopicName>
      <perceptionNoise>0.2 0.2 0.0</perceptionNoise>
    </plugin>
  </gazebo>

</robot>
