<?xml version="1.0"?>
<robot name="all_sensors" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- This file unifies all sensors that can be used on simulation, defined as xacro:macros -->

  <!-- GPS -->
  <xacro:include filename="$(find eufs_sensors)/urdf/gps.urdf.xacro"/>

  <!-- Velodyne VLP-16R -->
  <xacro:include filename="$(find eufs_sensors)/urdf/VLP-16R.urdf.xacro"/>

  <!-- Imu -->
  <xacro:include filename="$(find eufs_sensors)/urdf/imu.urdf.xacro"/>

  <!-- ZED Stereo camera -->
  <xacro:include filename="$(find eufs_sensors)/urdf/zed.urdf.xacro"/>

</robot>
