<library path="src">
  <class name="ros_can_sim_gui" type="robot_control.RosCanSimGUI.RosCanGUI" base_class_type="rqt_gui_py::Plugin">
    <description>
            A GUI to control the state machine of ros_can_sim
    </description>
    <qtgui>
      <label>ros_can_sim GUI</label>
      <icon type="theme">system-help</icon>
      <statustip>Controls the state machine of ros_can_sim</statustip>
    </qtgui>
  </class>
</library>