<?xml version="1.0"?>
<launch>

  <!-- Filepath, within package, that the config file is located -->
  <arg name="config" default="config/eufs_launcher"/>
  <!-- Package that the config file is in, for example `eufs_launcher` or `localisation_meta` -->
  <arg name="config_loc" default="eufs_launcher"/>

  <!-- Whether or not to actually launch the gui of the launcher (if not, launcher auto-launches according
    to its config file) -->
  <arg name="gui" default="True"/>

  <!-- EUFS Launcher -->
  <node name="eufs_launcher" pkg="eufs_launcher" type="eufs_launcher" output="screen">
    <param name="config" value="$(arg config)"/>
    <param name="config_loc" value="$(arg config_loc)"/>
    <param name="gui" value="$(arg gui)"/>
  </node>

</launch>
