<?xml version="1.0"?>
<launch>

    <!-- ARGUMENTS -->

    <!-- Which track to launch. Must correspond to a launch file in eufs_gazebo -->
    <arg name="track" default="small_track"/>

    <!-- The vehicle model class -->
    <arg name="vehicleModel" default="DynamicBicycle"/>

    <!-- The command mode of the vehicle -->
    <arg name="commandMode" default="acceleration"/>

    <!-- Launch the Gazebo GUI -->
    <arg name="gazebo_gui" default="false"/>

    <!-- Launch RViz -->
    <arg name="rviz" default="true"/>

    <!-- Whether or not to use ground truth transfrom -->
    <arg name="publish_gt_tf" default="false"/>

    <!-- Which group of launch files to use for the state_machine node.
         Set to 'no_perception' to turn off the perception code and use ground truth cones. -->
    <arg name="launch_group" default="default" />

    <!-- Launch the simulation -->
    <include file="$(find-pkg-share eufs_gazebo)/launch/$(var track).launch">
        <arg name="vehicleModel" value="$(var vehicleModel)"/>
        <arg name="commandMode" value="$(var commandMode)"/>
        <arg name="gazebo_gui" value="$(var gazebo_gui)"/>
        <arg name="rviz" value="$(var rviz)"/>
        <arg name="publish_gt_tf" value="$(var publish_gt_tf)"/>
        <arg name="launch_group" value="$(var launch_group)"/>
    </include>

</launch>
