<?xml version="1.0" ?>
<model>
    <name>%FILLNAME%</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Bailey Andrew</name>
        <email>e.bailey.andrew@gmail.com</email>
    </author>
    <description>Randomly generated track</description>
</model>
