<?xml version="1.0"?>
<robot name="QEV-3D" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ***************** -->
    <!-- Config parameters -->
    <!-- ***************** -->

    <!--  Load the config file  -->
    <xacro:property name="config" value="${load_yaml('$(arg vehicle_config)')}"/>

    <!--  Get the parameters  -->
    <xacro:arg name="base_frame" default="base_link"/>

    <!-- Simulate sensors or not? -->
    <xacro:arg name="enable_camera" default="false"/>
    <xacro:arg name="enable_lidar" default="false"/>
    <xacro:arg name="enable_laserscan" default="false"/>

    <!-- ***************** -->
    <!-- Global parameters -->
    <!-- ***************** -->

    <xacro:property name="PI" value="3.1415926535897931"/>

    <!-- ***************** -->
    <!-- Imported elements -->
    <!-- ***************** -->

    <!-- Import EUFS base element with the chassis -->
    <xacro:include filename="$(find eufs_racecar)/urdf/chassis_base.urdf.xacro" />

    <!--  Import the wheels  -->
    <xacro:include filename="$(find eufs_racecar)/urdf/wheels.urdf.xacro"/>

    <!-- Import all available sensors -->
    <!-- GPS -->
    <xacro:include filename="$(find eufs_racecar)/urdf/SBG_GPS.urdf.xacro"/>
    <!-- IMU -->
    <xacro:include filename="$(find eufs_racecar)/urdf/SBG_IMU.urdf.xacro"/>
    <!-- Velodyne VLP-32C -->
    <xacro:include filename="$(find eufs_racecar)/urdf/VLP-32C.urdf.xacro"/>
    <!-- ZED Stereo camera -->
    <xacro:include filename="$(find eufs_racecar)/urdf/ZED2i.urdf.xacro"/>

    <!--  Include the plugins  -->
    <!-- SBG plugin included in the SBG_IMU urdf -->
    <gazebo>
        <!-- also is ros node name -->
        <plugin name="race_car" filename="libgazebo_ros_race_car.so"></plugin>
    </gazebo>

    <gazebo>
        <plugin name="cone_detection" filename="libgazebo_ros_cone_detection.so"></plugin>
    </gazebo>

    <!-- *************** -->
    <!-- Robots Elements -->
    <!-- *************** -->

    <!-- Chassis of the car -->
    <xacro:chassis_base chassis_mesh="file://$(find eufs_racecar)/meshes/lando.dae" base_frame="$(arg base_frame)"/>

    <!-- Wheels -->
    <xacro:wheels chassis_width="1.6" wheelbase="1.580"/>

    <!-- *********************************************** -->
    <!--                 MAIN SENSORS                    -->
    <!-- *********************************************** -->

    <!--     LOCATIONS: (XYZ) - original values
    IMU: 0.0 0.0 0.170
    GPS: -0.110 0.0 0.9
    LIDAR: 1.700 0.0 -0.150
    STEREO CAM: -0.110 0.0 0.800 -->

    <!--     LOCATIONS: (XYZ) - new values measured on 24/01/23
    IMU: 0.0 0.0 0.0
    GPS: 1.220 0.0 0.530
    LIDAR: 1.590 0.0 0.130
    STEREO CAM: -0.370 0.0 0.900 -->

    <xacro:SBG_IMU_sensor parent="chassis" prefix="sbg_imu">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </xacro:SBG_IMU_sensor>

    <xacro:SBG_GPS_sensor parent="chassis" prefix="sbg_gps">
        <origin xyz="1.220 0.0 0.530" rpy="0 0 0"/>
    </xacro:SBG_GPS_sensor>

    <xacro:VLP-32C_LiDAR parent="chassis" prefix="velodyne" hz="10" lidar_active="$(arg enable_lidar)" scan_active="$(arg enable_laserscan)">
        <origin xyz="1.590 0.0 -0.15" rpy="0 0 0"/>
    </xacro:VLP-32C_LiDAR>

    <xacro:ZED2i_camera parent="chassis" prefix="zed2i" active="$(arg enable_camera)">
        <origin xyz="-0.370 0.0 0.900" rpy="0 0 0"/>
    </xacro:ZED2i_camera>
</robot>
